<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <title>DoIt!</title>
</head>
<body class="bg-cover bg-center h-screen bg-[url('../static/anete-lusina-2JknzBYDu6k-unsplash.jpg')] flex items-center justify-center "></body>
<div class="flex items-center justify-center space-x-52">
    <div>
        <h1 class="text-8xl font-bubblegum text-black hover:text-green-800 inline">DoIt!</h1>
        <p class="font-bubblegum text-[15px] font-bold bg-gradient-to-l from-white rounded-[30px] p-2 hover:from-green-500 text-2xl text-black">Stay organized, stay productive with DoIt!. Plan your tasks, track your progress, achieve your goals. <br> DoIt! keeps you on track, one task at a time. Simplify your life, boost your productivity with DoIt!. <br> Your personal assistant, always ready to help.</p>
    </div>

    <div class="h-[500px] w-[500px] bg-[#E5EBF1] rounded-[20px] border-t-[6px] border-r-[6px] border-b-[3px] border-l-[3px] border-black items-center flex justify-center flex-col">
        <form action="/login" class="items-center flex justify-center flex-col w-[100%]" method="post" >
            <input name="email" type="email" class="h-[80px] w-[80%] mb-5 rounded-[20px] text-2xl p-4 border-[4px] border-black" placeholder="Enter your e-mail" required>
            <input name="password" class="h-[80px] w-[80%] mb-5 rounded-[20px] text-2xl p-4 border-[4px] border-black" placeholder="Enter your password" type="password" required>
            <input class="h-[80px] w-[80%] bg-[#41e62c] mb-5 rounded-[20px] text-3xl font-bold text-white border-[4px] border-black hover:bg-green-600" type="submit" value="Login"> 
        </form>
        <p class="text-2xl font-bold">{{error}}</p>
        <div class="h-[8px] w-[80%] bg-black mb-5 rounded-[20px]"></div>
        <form action="/signup" class="items-center flex justify-center flex-col w-[100%]">
            <input class="h-[80px] w-[80%] bg-[#18A0CB] rounded-[20px] text-3xl font-bold hover:bg-[#38be6e] text-white border-[4px] border-black" value="Signup" type="submit">
        </form>    
    </div>
    
</div>


</body>
</html>