<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>DoIt! : error!</title>
</head>
<body class="flex justify-center items-center min-h-screen flex-col bg-gray-600 gap-5"> 
    <img src="../static/8xqaov.jpg" alt="" class="w-80">
    <h1 class="font-bold text-3xl text-white">{{ message }} <a href="/" class="underline text-blue-600 bg-white rounded-[5px]">Try again</a> </h1>
</body>
</html>